:host {
    position: relative;
    display: block;
    width: 100%;
    min-height: 410px;
}

:host .gl-map {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
}

:host .gl-map__map,
:host .gl-map__detail {
    position: absolute;
    top: 0;
    height: 100%;
}

:host .gl-map__map {
    left: 0;
    width: 100%;
}

:host .gl-map__detail {
    right: 0;
    width: 0;
    max-width: 360px;
    overflow: hidden;
    box-sizing: border-box;
    transition: width 0.2s ease-out;
    will-change: width;
}

:host .gl-map__detail::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    mix-blend-mode: multiply;
}

:host .gl-map.has-detail .gl-map__detail {
    width: 50%;
}

:host .gl-map__detail-close {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 9px;
    right: 9px;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 300;
    color: #666;
    border: 0;
    border-radius: 4px;
    background: rgb(255 255 255 / 85%);
    backdrop-filter: brightness(140%) blur(10px);
    transition: color 0.2s ease-out, background 0.2s ease-out;
}

:host .gl-map__detail-close:hover,
:host .gl-map__detail-close:focus {
    color: #333;
    background: white;
}

:host .gl-map__detail-content {
    position: relative;
    top: 3px;
    width: calc(100% - 3px);
    height: calc(100% - 6px);
    overflow: auto;
    box-sizing: border-box;
}

.lot {
    position: relative;
    display: grid;
    grid-template-rows: max-content 1fr;
    height: 100%;
}

.lot__image {
    position: relative;
    width: 100%;
    height: 0;
    margin-bottom: 3px;
    padding-top: calc(100% * (9 / 16));
    border-radius: 0 4px 0 0;
    background: rgb(255 255 255 / 85%);
    backdrop-filter: brightness(140%) blur(10px);
}

.lot__img {
    position: absolute;
    display: block;
    top: 3px;
    left: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    object-fit: cover;
    object-position: center;
    border-radius: 2px 4px 2px 2px;
}

.lot__content {
    position: relative;
    padding: 17px;
    border-radius: 0 0 4px;
    background: rgb(255 255 255 / 85%);
    backdrop-filter: brightness(140%) blur(10px);
}

.lot__content h3 {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 3px;
    margin: 0 0 10px;
}

.lot__content h3 span {
    display: inline-block;
    margin: 0;
    padding: 0.25em 0.75em;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    border-radius: 2px;
    background: #333;
}

.lot__content h3 .sold {
    background: #600;
}

.lot__content h3 .model {
    background: #1649C8;
}

.lot__content h3 .pending {
    background: #9D7F09;
}

.lot__content p {
    margin: 0;
    font-size: 16px;
}

.lot__snapshot {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 0.75em;
    margin: 10px 0;
    line-height: 1;
}

.lot__snapshot div:not(:first-child) {
    padding-left: 0.75em;
    border-left: 1px solid #666;
}

.lot__cta {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 6px);
    height: 40px;
    right: 3px;
    bottom: 3px;
    padding: 0 17px;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border-radius: 2px 2px 4px;
    background: #1649C8;
    box-sizing: border-box;
    transition: background 0.2s ease-out;
}

.lot__cta:hover,
.lot__cta:focus {
    background: #142755;
}
